<head> 
  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 
  
  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  
  <!-- Libraries Stylesheet -->
  <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  
  <!-- Customized Bootstrap Stylesheet -->
  <link href="/assets/scss/bootstrap.scss" rel="stylesheet">
  
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Template Stylesheet -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<app-navbarr></app-navbarr>
<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Log In</h2>

    <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="input-group">
        <input type="email" name="email" ngModel placeholder="Email" required />
      </div>
      <div class="input-group">
        <input type="password" name="pass" ngModel placeholder="Password" required />
      </div>
      <button type="submit" class="auth-button">Log In</button>
    </form> <br>
    
    <!-- Forgot Password Link -->
    <div class="forgot-password">
      <a routerLink="/forget-pass">Forgot Password?</a>
    </div>
    
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</div>