.custom-header {
  background-color: #ff8c00; // Orange background for the header
  .breadcrumb-item a {
    color: #fff !important;
    &:hover {
      color: #ff8c00 !important; // Gold color on hover
    }
  }
  .breadcrumb-item.active {
    color: #ff8c00!important; // Gold for active item
  }
  .breadcrumb{
    background-color: transparent; 
  }
  h1 {
    color: #ffffff; // White color for header title
  }
}
