<head> 
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/scss/bootstrap.scss" rel="stylesheet">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Template Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">
  </head>
  
  <app-navbarr></app-navbarr>
  
  <!-- Page Header Start -->
  <div class="container-fluid page-header mb-5 wow fadeIn custom-header" data-wow-delay="0.1s">
    <div class="container text-center">
        <h1 class="display-4 text-white animated slideInDown mb-4">Contact Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/accueil">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Contact</li>
            </ol>
        </nav>
    </div>
  </div>
  
  <!-- Page Header End -->
  
  <!-- Contact Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-5">
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                  <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Contact Us</div>
                  <h1 class="display-6 mb-5">If you have any questions or complaints, please reach out to us</h1>
                  <p class="mb-4">We’re here to help with any inquiries, questions, or complaints. "3awen" is dedicated to providing reliable support and solutions, so don't hesitate to get in touch. We're committed to assisting you every step of the way.</p>
                  <form (ngSubmit)="sendContactEmail()">
                      <div class="row g-3">
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="name" placeholder="Your Name" [(ngModel)]="name" name="name" required>
                                  <label for="name">Your Name</label>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-floating">
                                  <input type="email" class="form-control" id="email" placeholder="Your Email" [(ngModel)]="email" name="email" required>
                                  <label for="email">Your Email</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <input type="text" class="form-control" id="subject" placeholder="Subject" [(ngModel)]="subject" name="subject" required>
                                  <label for="subject">Subject</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="form-floating">
                                  <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 100px" [(ngModel)]="message" name="message" required></textarea>
                                  <label for="message">Message</label>
                              </div>
                          </div>
                          <div class="col-12">
                              <button class="btn btn-primary py-2 px-3 me-3" type="submit">
                                  Send Message
                                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                      <i class="fa fa-arrow-right"></i>
                                  </div>
                              </button>
                          </div>
                      </div>
                  </form>
                  <div *ngIf="showSuccessMessage" class="modal-overlay">
                    <div class="modal-content">
                      <span class="checkmark">✔</span>
                      <p>{{ successMessage }}</p>
                    </div>
                  </div>
                  <div *ngIf="showErrorMessage" class="modal-overlay">
                    <div class="modal-content error">
                      <span class="checkmark">✖</span>
                      <p>{{ errorMessage }}</p>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
                <div class="position-relative rounded overflow-hidden h-100">
                  <iframe class="position-relative w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3186.7693!2d10.269903346693734!3d36.7604976654405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzZCDDQ1JzM2LjAiTiAxMMKwMTYnMDYuMCJF!5e0!3m2!1sen!2sus!4v1633072800000!5m2!1sen!2sus"
                    frameborder="0" style="min-height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact End -->
  
  <app-footer></app-footer>