.create-event-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  background-color: transparent;
}

.blue-title {
  color: #292b2b;
  text-align: center;
  margin-bottom: 20px;
}

.event-form {
  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .error {
      color: #d9534f;
      margin-top: 5px;
      font-size: 14px; // Taille légèrement réduite
    }
  }

  .input-group {
    position: relative; // Permet de positionner l'icône par rapport à l'input

    input[type="text"] {
      width: 100%;
      padding-right: 45px; // Ajoute un espace pour éviter que le texte ne chevauche l'icône
      padding-left: 10px;
      box-sizing: border-box;
      height: 40px; // Hauteur cohérente
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff; // Bordure bleue lorsqu'il est actif
        outline: none; // Supprime le contour par défaut
      }
    }

    .google-maps-icon {
      position: absolute;
      right: 13px; // Place l'icône à 10px du bord droit
      top: 50%; // Centre verticalement par rapport à l'input
      transform: translateY(-50%); // Ajuste pour aligner parfaitement au centre
      font-size: 20px; // Taille de l'icône
      color: #04061b; // Couleur bleue pour l'icône
      cursor: pointer; // Ajoute un curseur pointer
      text-decoration: none; // Supprime la décoration de lien
      transition: color 0.3s ease;

      &:hover {
        color: #0056b3; // Change la couleur en bleu foncé au survol
      }
    }
  }

  .event-image-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
    margin-bottom: 10px;

    i {
      margin-right: 10px;
      font-size: 24px;
    }
  }

  .image-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #f9f9f9;

    &:hover {
      border-color: #007bff;
    }

    .event-image-input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .upload-icon {
      font-size: 48px;
      color: #ccc;
    }

    .image-preview {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
 


  

  .file-selection-container {
    display: flex;
    align-items: center;
    position: relative;

    input[type="file"] {
      flex: 1;
    }

    .clear-button {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: black;
      font-size: 30px;
      cursor: pointer;
      padding: 0;
      transition: color 0.3s ease;

      &:hover {
        color: #d9534f;
      }
    }
  }
}
