<nav class="navbar">
  <div class="logo">
    <a routerLink="/accueil">
      <img src="assets/logo5.png" alt="Logo" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/accueil">Accueil</a></li>
    <li><a routerLink="/create-event">Créer un évènement</a></li>
    <li><a routerLink="/participate-event">Participer à un évènement</a></li>
    <li><a routerLink="/partnership">Partenariat</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/logout" class="logout">
       Déconnexion <i class="fas fa-sign-out-alt"></i>
    </a></li>
  </ul>
</nav>
