<div class="container">
  <div class="video-frame">
    <img src="assets/logo4.png" alt="Logo" class="logo" />
    
    <div class="links">
      <a routerLink="/signup" class="link">Créer un compte</a>
      <a routerLink="/login" class="link">Se connecter</a>
    </div>
    
    <div class="video-container">
      <video class="background-video" autoplay loop muted>
        <source src="assets/video.mp4"/>
        Your browser does not support the video tag.
      </video>
      
      <!-- Ajout de la phrase d'accueil 
      <div class="welcome-text">
        Bienvenue dans l'aventure 3awen : Soyez le changement que vous souhaitez voir en Tunisie !
      </div> -->
    </div>
  </div>
</div>

  
  
  
  
