<app-navbarr></app-navbarr>
  <div class="main-content">
    <div class="hero-image">
        <img src="assets/img3.jpeg" alt="Logo">
    </div>
    <div class="hero-section">
        <h1>Bienvenue chez 3awen !</h1>
        <h2>Ensemble, construisons un avenir meilleur en unissant nos forces pour faire la différence.</h2>
      <div class="buttons">
       
                <button class="btn-blue" routerLink="/participate-event">Je veux être un bénévole</button>
        <button class="btn-green" routerLink="/create-event">J'ai besoin d'aide</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  